.app__header {
  height: 50px;
  background: black;
}

.app__title {
  text-align: center;
  color: white;
  line-height: 50px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.app__content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.app_controlls {
  height: 500px;
  width: 200px;
  background-color: #468847;
  margin-right: 20px;
  flex: 0 1 auto;
}

.app__field {
  flex: 0 1 auto;
}