// variables
$cellSize: 20px;
$cellSpace: 2px;

$buttonRaisedBackgroundBlue: #1565c0;
$buttonRaisedBackgroundFocusBlue: #1E88E5;

// mixins

@mixin shadow($number) {
  @if $number == 0 {
    box-shadow: none;
  }
  @else if $number == 1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.12);
  }
  @else if $number == 2 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }
  @else if $number == 3 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.18),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  @else if $number == 4 {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.2),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  @else if $number == 5 {
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.24),0 25px 55px 0 rgba(0,0,0,0.21);
  }
  @else if $number == 6 {
    box-shadow: 0 27px 24px 0 rgba(0,0,0,0.22),0 40px 77px 0 rgba(0,0,0,0.22);
  }
}