.field {
  border: 1px solid black;
  background-color: #b4daff;
  padding: $cellSpace / 2;
  @include shadow(2);
}

.field__row {
  display: flex;
  justify-content: flex-start;
}

.field__cell {
  flex: 0 1 auto;
  height: $cellSize;
  width: $cellSize;
  background-color: #474cff;
  margin: $cellSpace;

  // temporaty
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: $cellSize;
}