.field {
  border: 1px solid black;
  background-color: #b4daff;
  padding: $cellSpace / 2;
  @include shadow(2);
  display: inline-block;
}

.field__row {
  display: flex;
  justify-content: flex-start;
}

.field__cell {
  flex: 0 1 auto;
  height: $cellSize;
  width: $cellSize;
  background-color: #474cff;
  margin: $cellSpace;
  user-select: none;
  cursor: default;

  // temporaty
  font-weight: bold;
  text-align: center;
  line-height: $cellSize;

  &:hover {
    opacity: 0.6;
  }
}

.field__cell_opened {
  background-color: #F5F5F5;

  &:hover {
    opacity: 1;
  }
}

.field__cell_bombed {
  background-color: #FF6E40;
}

.field__cell_founded {
  background-color: #AED581;
}
